
.menu-link.active {
    color: #7dc35a;
    font-weight: bold;
    font-display: swap;
}

.floating {
    animation: float 2s ease-in-out infinite;
    font-display: swap;
}

@keyframes float {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-10px);
    }
    100% {
    transform: translateY(0);
    }
}