<section class="bg-white py-12 px-6 md:px-12">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold text-gray-800 mb-6">
            Fabricamos <br />Remolques a Tu Medida
        </h2>

        <p class="text-gray-600 text-lg sm:text-xl md:text-2xl mb-10 max-w-4xl mx-auto">
            Creamos y fabricamos remolques únicos, diseñados a tu medida, combinando calidad y funcionalidad para uso recreativo e industrial.
        </p>

        <div class="relative w-full max-w-5xl mx-auto overflow-hidden rounded-lg shadow-lg group">
            <!-- Imagen de fondo -->
            <img src="images/aboutUs.png" alt="Remolques personalizados" 
                 class="w-full h-auto object-cover transform transition-transform duration-700 group-hover:scale-105 group-hover:shadow-2xl">
        
            <!-- Contenedor con el texto -->
            <div class="absolute inset-0 bg-black bg-opacity-65 flex flex-col justify-center items-center text-white text-2xl font-bold">
                <span>Remolques <br /> ATO & PEÑA</span>
        
                <!-- Logo en un círculo con efecto de latido -->
                <div class="mt-4 w-32 h-32 flex justify-center items-center bg-white rounded-full p-4 border-4 border-gray-800 animate-pulse">
                    <img src="/logo_ato.png" alt="Logo de Remolques ATO & PEÑA" class="w-auto h-auto max-w-full max-h-full object-contain">
                </div>
            </div>
        </div>
         

        <div class="mt-10">
            <a href="https://wa.me/+51995374449?text=Hola%20Remolques%20ATO%20%26%20PEÑA,%20quiero%20saber%20más%20sobre%20sus%20productos%20y%20servicios." class="inline-flex items-center bg-gradient-to-br from-primary to-secondary text-white px-8 py-4 rounded-full text-lg font-medium shadow-md hover:shadow-lg hover:scale-105 transition" target="_blank">
                <i class="fa-brands fa-whatsapp mr-2"></i> 
                Contáctanos Ahora
            </a>
        </div>
    </div>
</section>
