<section id="nosotros" class="bg-white py-12 px-6 md:px-12 pt-24">
    <div class="container mx-auto text-center px-4 lg:px-8">
        <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-6 leading-tight">
            Fabricamos <br />Remolques a Medida
        </h2>

        <p class="text-gray-600 text-base sm:text-lg md:text-xl lg:text-xl mb-10 max-w-4xl mx-auto leading-relaxed">
            Diseñamos y fabricamos remolques únicos, diseñados a medida de cada cliente, combinando calidad y funcionalidad.
        </p>

        <div class="relative w-full max-w-5xl mx-auto overflow-hidden rounded-lg shadow-lg group">
            <img src="./images/aboutUs.png" alt="Remolques Ato & Peña"
                class="w-full h-[calc(100vh-100px)] object-cover transform transition-transform duration-700 group-hover:scale-105 group-hover:shadow-2xl" />

            <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-white text-xl sm:text-md md:text-2xl font-bold">
                <span class="text-center text-lg">Remolques <br /> ATO & PEÑA</span>

                <div class="flex justify-center items-center bg-white rounded-full border-4 border-secondary animate-pulse"
                    style="width: clamp(96px, 15vw, 128px); height: clamp(96px, 15vw, 128px);">
                    <img src="./logo_ato.webp" alt="Remolques ATO & PEÑA - Diseño y fabricación de remolques"
                        class="object-cover p-2" />
                </div>

                <div class="flex justify-center space-x-2 mt-4">
                    <a href="https://www.facebook.com/estructurametalicaato" class="text-white transform transition-transform duration-300 hover:scale-125 hover:rotate-6 hover:text-secondary" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/remolquesato/" class="text-white transform transition-transform duration-300 hover:scale-125 hover:rotate-6 hover:text-secondary" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.tiktok.com/@Remolquesato" class="text-white transform transition-transform duration-300 hover:scale-125 hover:rotate-6 hover:text-secondary" target="_blank">
                        <i class="fab fa-tiktok"></i>
                    </a>
                    <a href="https://www.youtube.com/@remolquesato" class="text-white transform transition-transform duration-300 hover:scale-125 hover:rotate-6 hover:text-secondary" target="_blank">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/remolques-ato-pe%C3%B1a/" class="text-white transform transition-transform duration-300 hover:scale-125 hover:rotate-6 hover:text-secondary" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-10">
            <a href="https://wa.me/+51995374449?text=Hola%20Remolques%20ATO%20%26%20PEÑA,%20quiero%20saber%20más%20sobre%20sus%20productos%20y%20servicios."
               class="inline-flex items-center bg-[#7dc35a] text-black px-6 py-3 sm:px-8 sm:py-4 rounded-full text-base sm:text-lg font-medium shadow-md hover:shadow-lg hover:scale-105 transition" target="_blank">
                <i class="fa-brands fa-whatsapp mr-2"></i>
                Contáctanos Ahora
            </a>
        </div>
    </div>
</section>