<section class="bg-gray-100 py-24 px-6 md:px-12">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-8">
            ¿Por qué elegirnos?
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="bg-white shadow-md rounded-lg p-8">
                <div class="flex justify-center items-center mb-4">
                    <i class="fas fa-briefcase text-4xl bg-[#7dc35a] bg-clip-text text-transparent"></i>
                </div>                
                <h3 class="text-xl font-bold text-gray-800 mb-2">Experiencia</h3>
                <p class="text-gray-600">
                    Más de 15 años de experiencia en fabricación.
                </p>
            </div>

            <div class="bg-white shadow-md rounded-lg p-8">
                <div class="flex justify-center items-center mb-4">
                    <i class="fas fa-cogs text-4xl bg-[#7dc35a] bg-clip-text text-transparent"></i>
                </div>                
                <h3 class="text-xl font-bold text-gray-800 mb-2">Tecnología</h3>
                <p class="text-gray-600">
                    Personal calificado y equipos de alta tecnología.
                </p>
            </div>

            <div class="bg-white shadow-md rounded-lg p-8">
                <div class="flex justify-center items-center mb-4">
                    <i class="fas fa-th-large text-4xl bg-[#7dc35a] bg-clip-text text-transparent"></i>
                </div>                
                <h3 class="text-xl font-bold text-gray-800 mb-2">Versatilidad</h3>
                <p class="text-gray-600">
                    Versatilidad en diseños, de acuerdo a su necesidad.
                </p>
            </div>
        </div>
    </div>
</section>