---
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>Remolques Ato & Peña</title>
	</head>
	<body>
		<slot />
		<a href="https://wa.me/1234567890?text=Hola%20Remolques%20ATO%20%26%20PE%C3%91A,%20estoy%20interesado%20en%20más%20información%20sobre%20tus%20productos%20y%20servicios." target="_blank" class="fixed bottom-5 right-5 bg-green-500 hover:bg-green-600 text-white p-4 rounded-full shadow-lg flex items-center justify-center gap-2 text-lg md:text-xl transition-all hover:scale-105 z-50">
      		<i class="fa-brands fa-whatsapp text-xl md:text-2xl"></i>
    	</a>
	</body>
</html>