---
import '../styles/global.css';
import Footer from '../components/Footer.astro';

export interface Props {
	meta?: {
		title?: string;
		description?: string;
		image?: string;
		url?: string;
	};
}

const { meta } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>		  
		<meta charset="UTF-8" />
		<meta property="og:locale" content="es_PE" />
		<meta name="viewport" content="width=device-width" />
		<title>{"Fábrica de Remolques Ato & Peña | Diseñamos y fabricamos remolques y carretas de alta calidad, remolques para minicargador, montacargas, grupo eletrógeno, motos, botes, autos, camionetas y camiones."}</title>
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Rubén Tipiani" />
		<meta name="description" content="Diseñamos y fabricamos remolques personalizados de alta calidad. Ofrecemos soluciones a medida: remolques para minicargador, remolques para montacargas, remolques para grupo eletrógeno, remolques porta escalera, remolques para motos, remolque para botes, remolques para ganaderos, remolques para autos, remolques para camionetas y remolques para camiones." />
		<meta property="og:site_name" content="Fábrica de Remolques Ato & Peña">
		<meta property="og:title" content="Fábrica de Remolques Ato & Peña" />
		<meta property="og:description" content="Diseñamos y fabricamos remolques personalizados de alta calidad para uso agrícola e industrial. Ofrecemos soluciones a medida: remolques para minicargador, remolques para montacargas, remolques para grupo eletrógeno, remolques porta escalera, remolques para motos, remolques para botes, remolques para ganaderos, remolques para autos, remolques para camionetas y remolques para camiones." />
		<meta property="og:image" content="https://fabricaderemolquesato.com/images/aboutUs.avif" />
		<meta property="og:url" content="https://fabricaderemolquesato.com" />
		<meta property="og:type" content="website" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content="Fábrica de Remolques Ato & Peña" />
		<meta property="twitter:description" content="Diseñamos y fabricamos remolques personalizados de alta calidad para uso agrícola e industrial. Ofrecemos soluciones a medida: remolques para minicargador, remolques para montacargas, remolques para grupo eletrógeno, remolques porta escalera, remolques para motos, remolques para botes, remolques para ganaderos, remolques para autos, remolques para camionetas y remolques para camiones." />
		<meta property="twitter:image" content="https://fabricaderemolquesato.com/images/aboutUs.avif" />
		<link rel="canonical" href="https://fabricaderemolquesato.com" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.webp">
		<link rel="icon" type="image/webp" sizes="32x32" href="/favicon-32x32.webp">
		<link rel="icon" type="image/webp" sizes="16x16" href="/favicon-16x16.webp">
		<link rel="manifest" href="/site.webmanifest">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CC5NLSBJSE" />
		<script is:inline>
			if (typeof window !== 'undefined') {
				// Cargar Google Analytics
				window.dataLayer = window.dataLayer || [];
				function gtag() {
				window.dataLayer.push(arguments);
				}
				gtag('js', new Date());
				gtag('config', 'G-CC5NLSBJSE'); // ID de Google Analytics

				// Cargar Google Tag Manager
				(function(w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
				var f = d.getElementsByTagName(s)[0];
				if (f && f.parentNode) {
					var j = d.createElement(s);
					var dl = l !== 'dataLayer' ? '&l=' + l : '';
					j.async = true;
					j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
					f.parentNode.insertBefore(j, f);
				}
				})(window, document, 'script', 'dataLayer', 'GTM-N6XXD9VT');
			}
		</script>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "AutoDealer",
				"name": "Fábrica de Remolques Ato & Peña",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "Av. Los Olivos, Mz. F, lote 26, San Martín de Porres. Ref: Av. Universitaria con Av. Los Olivos (Santa Rosa)",
					"addressLocality": "San Martín de Porres",
					"addressCountry": "PE"
				},
				"url": "https://remolquesato.com",
				"telephone": "+51 995 374 449",
				"email": "ventas@estructurametalicaato.com",
				"openingHours": "Mo-Sa 08:00-19:00",
				"image": "https://fabricaderemolquesato.com/images/aboutUs.avif",
				"sameAs": [
					"https://www.facebook.com/estructurametalicaato",
					"https://www.instagram.com/remolquesato/",
					"https://www.tiktok.com/@Remolquesato",
					"https://www.youtube.com/@remolquesato",
					"https://www.linkedin.com/company/remolques-ato-pe%C3%B1a/"
				]
			}
		</script>
	</head>
	<body>
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6XXD9VT"
			height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<slot />

		<a href="https://wa.me/+51995374449?text=Hola%20Remolques%20ATO%20%26%20PE%C3%91A,%20estoy%20interesado%20en%20más%20información%20sobre%20tus%20productos%20y%20servicios." 
		target="_blank" rel="noopener noreferrer" aria-label="Ir a Whatsapp de Fábrica de Remolques Ato & Peña" class="fixed bottom-5 right-5 bg-green-500 hover:bg-green-600 text-white p-4 rounded-full shadow-lg flex items-center justify-center gap-2 text-lg md:text-xl floating z-50">
			<i class="fa-brands fa-whatsapp text-xl md:text-2xl"></i>
		</a>
		<Footer />
	</body>
</html>
